# Directories
4HistROOT/
ENSDFCode/
MunichSortCode/
SPC-Help.sh
XMGraceBatch/
XMGraceOpticalModelChecker/
XMGraceSharp/
energyUncertainty/
extractTimeOfRuns/
gf3_ps_2_pdf/
histogramCounter/
latexRender/
makeIsotopeFolder/
opticalModelChecker/
renameROOTfile/
rootMacros/
PtolemyCode/*/
# File types
*.pyc
*.xlsx
.ods
*.15
*.in
*.out
*.txt
